# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
dist: xenial
sudo: false
cache: packages
addons:
  apt:
    packages:
    - libhdf5-dev
    - mesa-common-dev
    - libglu1-mesa-dev
env:
  global:
    - RGL_USE_NULL=TRUE
